
doctype html
html
    head
        title Maze Runner
        link(rel='stylesheet' href='/css/game.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        meta(id='viewport', name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes')
    body
        #container
            #nameinput
                h2="Welcome, Maze Runner!"
                p This is a game written by me, Shawn Zimmerman.
                    | This was made to practice programming, have some fun, a bunch of frustration, in the end I have this.
                    | To give credit where credit is due, the tile sheet used was from RPG Maker and the sounds come from freesound.org
                p The reason the game is called maze runner is because that was the original idea. But as you can see it has strayed from that plan
                    | Now it is some game where you run around, shoot the other players, inside some castle house thing. Have fun.
        #container
            #nameinput
                a(href='./',)="Back"