extends layout
block content
    #container-narrow-fluid
        #jumbotron
            #nameinput
                h3 Login
                form.form-horizontal(action='/', method='post')
                    fieldset
                        legend Login here
                        if (message != "")
                            div.alert.alert-error
                                p !{message}
                        div.control-group
                            label.control-label(for='inputUsername') Email Address
                            div.controls
                                input#inputUserName.input-large(name='email', type='text', placeholder='Email Address', required)
                        div.control-group
                            label.control-label(for='inputPassword') Password
                            div.controls
                                input#inputUserName.input-large(name='password', type='password', placeholder='Password', required)
                        div.control-group
                            div.controls
                                button.btn.btn-primary(type='submit') Log In
                a.btn.btn-primary.btn-lg(href="/signup", role="button") Sign up
                a.btn.btn-primary.btn-lg(href="/signup", role="button") Play as guest