doctype html
html
    head
        title Maze Runner
        link(rel='stylesheet' href='/css/game.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        meta(id='viewport', name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes')
        script.
            document.onkeydown = function (e) {
                if (e.keyCode == 13) {
                    enterGame();
                }
            };
            function enterGame() {
                var playerName = document.getElementById("playerName").value;
                if (playerName == "") {
                    document.getElementById("playerName").value = "YOUR NAME?";
                } else {
                    window.location.href = "./game?user=" + playerName + '';
                }
            }
    body
        #container
            #nameinput
                h2="Welcome, Maze Runner! Please enter your name"
                input#playerName(type='text')
                a(href='#', onclick="enterGame()")="Enter Game"
    footer
        #nameinput
            a(href='./credits',)="Credits"